*{
    margin: 0;
    padding: 0;
}

body{
    width: 1600px;
    margin:0 auto;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}
.container{
    margin-left: auto;
}

.header{
    
    
}

.header-top a{
    float: left;
}

.header-top{
    padding-bottom: 15px;
    margin-left: 235px;
    margin-right: 230px;
    margin-top: 25px;
}

.header-form{
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    margin-top: 15px;
    
}

.header-form select{
    background-color: #f8f8f8;
    width: 86px;
    height: 36px;
    position: relative;
    left: 5px;
}

.header-form input[type="text"]{
    height: 32px;
    border-color: #e6e6e6;
    width: 280px;
}

.header-form input[type="submit"]{
    height: 36px;
    width: 32px;
    background-image: url(Images/search.png);
    background-color: transparent;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-right-radius:5px ;
    border-top-right-radius: 5px;
    position: relative;
    right: 6px;
    
}

.header-account{
    float: right;
    margin-top: 20px;
}

.header-account a{
    float: right;
}

.header-account form{
    float: right;
    padding-left: 25px;
}


.header-account select{
    background-color:#f16d7f;
     color: white;
    text-transform: capitalize;
}

.header-menu{
    padding-left: 465px;
    padding-top: 15px;
    border-top: 1px solid #ececec;
    margin: 0;
}
.header-menu li{
    float: left;
    list-style: none;
    padding-right: 45px;
}

.header-menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(34, 34, 34);  
    line-height: 1.857;
    text-align: left;
}

.header-menu a:hover{
    border-bottom: 3px solid #ef5b70;
}

.header-bottom{
    background-image: url(Images/header-bottom.png);
    height: 665px;
    margin-top: 20px;
    position: relative;
}

.header-bottom span{
    display: block;
    position: absolute;
  font-size: 40px;
  font-family: "Myriad Pro";
  color: rgb(34, 34, 34);
  line-height: 1.2;
  text-align: left;
    width: 500px;
    border-left: 10px solid #f16d7f;
    top: 278px;
    left: 230px;
    padding-left: 15px;
 
}

.header-bottom span b{
    font-weight: normal;
    color: #f16d7f;
}

.new-items {
padding-top: 100px;

}

.new-items h3{
  font-size: 18px;
  font-family: "lato";
  color: #222222;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
}


.new-items p{
    color: #f16d7f;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.5
    
}

.new-items-1{
    float: left;
    padding-left: 225px;
    position: relative;
}

.new-items-2{
    float: right;
    padding-right: 229px;
    position: relative;
}
.new-items-3{
    float: right;
   padding-right: 25px;
    position: relative;
    
}
.new-items-4{
    float: right;
    padding-right: 229px;
    position: relative;
    
}

.new-items-text-1{
    position: relative;
    bottom: 510px;
    background-color: white;
    width: 155px;
   
    padding-left: 20px;   
    
}

.new-items-text-2{
    position: relative;
     width: 155px;
    bottom: 230px;
    background-color:white;
    padding-left: 20px; 
}

.new-items-text-3{
    position: relative;
     width: 230px;
    bottom: 230px;
    background-color:white;
    padding-left: 40px; 
}


.new-items-text-4{
    position: relative;
     width: 155px;
    bottom: 510px;
    background-color:white;
    padding-left: 20px; 
}

.fetured-items-header{
    text-align: center;
}

.fetured-items-header h2{
  font-size: 30px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  font-weight: bold;
  line-height: 1.8;
  text-align: center;
}

.fetured-items-header p {
  font-size: 14px;
  font-family: "Lato";
  color: rgb(159, 159, 159);
  line-height: 1.857;
  text-align: center;
 
}

.featured-items-all{
    padding-top: 60px;
    padding-left: 230px;
}

.featured-items-item{
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

.item-name{
  font-size: 13px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 1.2;
    padding-left: 20px;
    padding-top: 20px;

}


.item-price{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
    padding-left: 20px;
    padding-top: 20px;
}

.fetured-items a{
padding-left: 700px}

.offer{
    background-image: url(Images/offer-background.png);
    width: 1140px;
    height: 530px;
    margin-left: 230px;
    margin-top: 100px;
}

.offer-img{
    float: left;
    position: relative;
}
.offer-description{
    float: left;
    width: 373px;

}

.offer-decription-delivery{
    padding-left:100px;
    padding-top: 50px;
}
.offer-decription-delivery h3{
  font-size: 20px;
  font-family: "Lato";
  color: rgb(251, 251, 251);
  font-weight: bold;
  line-height: 1.2;
}

.offer-decription-delivery p{
  font-size: 14px;
  font-family: "Lato";
  color: rgb(251, 251, 251);
  line-height: 2.114;
}

.offer-one{
    background-image: url(Images/offer/Forma%201-2.png);
    background-repeat: no-repeat;
    background-position: 30px 50px;
}

.offer-two{
    background-image: url(Images/offer/Forma%201-1.png);
    background-repeat: no-repeat;
    background-position: 30px 50px;
}

.offer-three{
    background-image: url(Images/offer/Forma%201.png);
    background-repeat: no-repeat;
    background-position: 30px 50px;
}


.offer-img p{
    position: absolute;
    bottom: 300px;
    left: 30px;
  font-size: 40px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
    width: 300px

}

.offer-img b{
    color:#f16d7f;
}




.subscribe{
    background-image: url(Images/subscribe-background.png);
    height: 390px;
     margin-top: 95px;
}

.subscribe--quote-text{
    float: left;
    width: 370px;
    margin-left: 230px;
    padding-left: 115px;
    padding-top: 122px;
    background-image: url(Images/quote-face.png);
    background-repeat: no-repeat;
    background-position: 20px 110px;}

.subscribe--quote-text blockquote{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  font-style: italic;
  line-height: 1.625;
  text-align: left;

}

.subscribe--quote-text p{
  font-size: 16px;
  font-family: "Lato";
  color: black;
  font-weight: bold;
  line-height: 1.325;

}


.subscribe--quote-text b{
    color: #f16d7f;
}

.subscribe-panel{
    float: left;
    text-align: center;
    padding-left: 160px;
    padding-top: 145px;
}

.subscribe-panel h2{
    font-weight: lighter;
  font-size: 24px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  text-transform: uppercase;
  line-height: 2.25;
  text-align: center;
}

}

.subscribe-panel h3{
        font-weight: lighter;
     font-size: 24px;
  font-family: "Lato";
  color: rgb(34, 34, 36);
  text-transform: uppercase;
  line-height: 2.25;
  text-align: center;    
}
.subscribe-panel-text{
    padding-bottom: 20px;
}

.subscribe-panel input[type="text"]{
    width: 280px;
    height: 45px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #e1e1e1;
    
}

.subscribe-panel input[type="submit"]{
    width: 103px;
    height: 46px;
    background-color:#f16d7f;
    color: white;
    font-size: 12px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    right: 10px;
}
.footer-decription{
    width: 440px;
    float: left;
    padding-top: 105px;
    padding-left: 230px;
}

.footer-decription p{
  font-size: 14px;
  font-family: "Lato";
  color: rgb(137, 137, 137);
  line-height: 1.714;
  text-align: left;
}

.footer-table{
    float: left;
    padding-top: 105px;
    padding-left: 70px;
}

.footer-table th{
    text-transform: uppercase;
  font-size: 18px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  font-weight: bold;
  line-height: 1.444;
    text-align: left;

}

.footer-table td{

  line-height: 1.688;
    padding-right: 75px;
    padding-top: 10px;

}

.footer-table td a{
    text-decoration: none;
    font-size: 16px;
  font-family: "Lato";
  color: rgb(137, 137, 137);
    text-transform: capitalize;
}

.footer-bottom{
    background-color: #e6e6e6;
    margin-top: 90px;
    height: 75px;
    
}
.footer-copyright{
    float: left;
  font-size: 16px;
  font-family: "Lato";
  color: rgb(122, 122, 122);
  line-height: 2.625;
    padding-top: 20px;
    padding-left: 224px;
    margin-right: 690px
}

.footer-social{
    padding-top: 10px;
}
.footer-social img{
    height: 30px;
    width: 30px;
    padding: 10px;
}

.footer-social a{
display: inline-block;
    background-color: white;
    margin-left: 10px;
}

.footer-social a:hover{
display: inline-block;
    background-color: #f16d7f;
}

/* for order form*/

.new-arrivals{
    background-color: #f8f3f4;
    height: 160px;
    margin-top: 
}

.new-arrivals h2{
  font-size: 24px;
  font-family: "Lato";
  color: rgb(241, 109, 127);
  text-transform: uppercase;
  line-height: 0.833;
    float: left;
    display: block;
    padding-top: 65px;
    padding-left: 230px;

}

.new-arrivals a{
  font-size: 14px;
  font-family: "Lato";
  color: rgb(99, 99, 99);
  text-transform: uppercase;
  line-height: 1.429;
  text-decoration: none;
}

.new-arrivals a:hover{
    color:#f17687;
}

.new-arrivals a:last-child{
    color:#f17687;
}

.new-arrivals nav{
    float: left;
    padding-top: 65px;
    padding-left: 770px;
}

.shipping{
      margin-left:225px;
    margin-right: 225px;
    margin-top: 50px;
}

.shipping h3{
  font-size: 16px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.shipping-block{
    padding-top:30px;
    padding-bottom:30px;
    border-bottom: 1px solid #e8e8e8;
}


.shipping-check{
    float: left;
    padding-left: 35px;
}

.shipping-check label{
  font-size: 12px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 2.2;

}

.shipping-check form{
    padding-top: 15px;
    padding-bottom: 15px;
}

.shipping-check input[type="button"]{
    margin-top: 20px;
}

.shipping-adress h4{
  font-size: 13px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  line-height: 2.2;
}

.shipping-adress p{
  font-size: 13px;
  font-family: "Lato";
  color: rgb(179, 178, 178);
  line-height: 1.538;
}
.shipping-adress input[type="button"]{
    background-color: transparent;
    width: 177px;
    height: 47px;
  font-size: 14px;
  font-family: "Lato";
  color: rgb(74, 74, 74);
  font-weight: bold;
  text-transform: uppercase;
    border: 1px solid #eaeaea;
    cursor: pointer;
    
}

.shipping-register{
    float: left;
    padding-left: 290px;
}

.shipping-register input[type="email"],
.shipping-register input[type="password"] {
    width:390px;
    height: 45px;
}

.shipping-register input:required{
    border-color: red;
}

.shipping-register label{
  font-size: 12px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  line-height: 2.667;
    text-transform: uppercase;
}

.shipping-register label sup{
    color:red;
}

.shipping-register .required-fileds{
    color: red;
}

.shipping-register a{
    padding-left: 30px;
    text-transform: capitalize;
    text-decoration: none;
  font-size: 14px;
  font-family: "Lato";
  color: rgb(34, 34, 34);
  line-height: 1.429;
 
}
